<div class="<%=field.get('type') %>" data-cid="<%=field.cid %>">
    <div class="checkbox field-label">
        <label class="row">
            <span class="col-xs-7">
                <input type="checkbox" name="selected"/>
                <span name="label"></span>
            </span>
            <span class="col-xs-5">
                <% if(field.get('filter_type')){ %>
                    <span class="glyphicon <% if(field.get('filter')){ %>glyphicon-chevron-up<% }else{ %>glyphicon-chevron-down<% } %>
                    pull-right field-filter-icon"></span>
                    <span class="glyphicon glyphicon-remove pull-right field-filter-reset"></span>
                <% } %>
            </span>
        </label>
    </div>
    <% var opt = field.get('filter_opt') %>
    <div class="field-filter">
        <form class="form-inline" role="form">
        <% if(opt && opt.and){ %>
            <div class="form-group">
                <label class="and">
                    <input type="checkbox" name="and">
                    AND
                </label>
            </div>
        <% } %>
        <% if(opt && opt.null){ %>
            <div class="form-group">
                <label class="ornull">
                    <input type="checkbox" name="ornull">
                    Or null
                </label>
            </div>
        <% } %>
        </form>
    </div>
</div>