<% var opt = field.get('filter_opt') %>
<% var val = field.get('filter') || {} %>
<div class="input-daterange input-group">
    <input type="text" class="form-control" name="start" value="<% if(val){ %><%=val.from %><% } %>"/>
    <span class="input-group-addon">to</span>
    <input type="text" class="form-control" name="end" value="<% if(val){ %><%=val.to %><% } %>"/>
</div>