<% var opt = field.get('filter_opt') %>
<% var val = field.get('filter') || {} %>
<% var include = val.include || [] %>
<% var exclude = val.exclude || [] %>
<select class="field-filter-select genres-include selectpicker" multiple style="display: none"
        data-width="100%" data-style="btn-success" data-selected-text-format="count>3"
        title='Include'>
    <% _.each( field.get('filter_opt').values, function(value){ %>
        <option value="<%=value %>"
        <% if( include.indexOf(value) >= 0){ %>selected<% } %>>
        <%=value %>
        </option>
    <% }) %>
</select>
<select class="field-filter-select genres-exclude selectpicker" multiple style="display: none"
        data-width="100%" data-style="btn-danger" data-selected-text-format="count>3"
        title='Exclude'>
    <% _.each( field.get('filter_opt').values, function(value){ %>
        <option value="<%=value %>"
        <% if( exclude.indexOf(value) >= 0){ %>selected<% } %>>
        <%=value %>
        </option>
    <% }) %>
</select>