<% var opt = field.get('filter_opt') %>
<% var val = field.get('filter') %>
<div class="row row-fast-select">
    <div class="col-sm-12">
        <% _.each(opt.fast, function(value, key){ %>
            <span data-key="<%=key %>" class="label label-primary fast-select"><%=key %></span>
        <% }) %>
    </div>
</div>

<select class="field-filter-select selectpicker" multiple style="display: none" data-width="100%"
        data-selected-text-format="count>3">
    <% _.each( opt.values, function(value){ %>
        <option value="<%=value %>"
        <% if(!val || val.indexOf(value) >= 0){ %>selected<% } %>>
        <%=field.formatter(value) %>
        </option>
    <% }) %>
</select>