<% var opt = field.get('filter_opt') %>
<% var val = field.get('filter') %>
<div class="row range-choose" style="margin: 0;">
    <div class="col-xs-11 range-col">
        <input type="text" class="range-slider" style="display: none; width: 100%" data-width="100%"
            value="<%=opt.min %>;<%=opt.max %>" <% if(opt.step){ %> data-step="<%=opt.step %>" <% } %>
            <% if(val){ %> data-from="<%=val.from %>" data-to="<%=val.to %>" <% } %>
            data-type="double" />
    </div>
    <div class="col-xs-1 range-edit-icon" style="height: 40px; margin-top: 17px; padding: 0; text-align: center;">
        <span class="glyphicon glyphicon-edit"></span>
    </div>
</div>

<form class="row form-inline range-edit" role="form"
      style="display: none;margin-top: 15px; margin-left: 0;margin-right: 0">
    <div class="form-group col-xs-5 range-col">
        <label class="sr-only" for="From">From</label>
        <input type="text" name="From" class="form-control" placeholder="From" value="<% if(val){ %><%=val.from %><% } %>">
    </div>
    <div class="form-group col-xs-1 range-col" style="text-align: center; margin-top: 5px;">
        <span><strong> - </strong></span>
    </div>
    <div class="form-group col-xs-5 range-col">
        <label class="sr-only" for="To">To</label>
        <input type="text" name="To" class="form-control" placeholder="To" value="<% if(val){ %><%=val.to %><% } %>">
    </div>
    <div class="col-xs-1 range-choose-icon" style="height: 40px; margin-top: 7px; padding: 0; text-align: center;">
        <span class="glyphicon glyphicon-resize-horizontal"></span>
    </div>
</form>
