<div class="panel-body <% if( user_request.error){ %>alert-danger<% } %>">
    <form class="form-inline row" role="form" style="margin-bottom: 10px;">
        <div class="col-xs-9">
            <input class="form-control" id="username" placeholder="MAL User" value="<%=user_request.username %>">
        </div>
        <div class="form-group col-xs-3" style="padding: 0">
            <button type="button" class="btn btn-default ladda-button" id="userSubmit" data-style="zoom-in" data-size="xs">
                <span class="glyphicon glyphicon-refresh ladda-label"></span>
            </button>
        </div>
    </form>
    <% if( user_request.username ){ %>
        <% if( user_request.user_id){ %>
            <div class="row">
                <div class="col-sm-4"><strong>Id:</strong></div>
                <div class="col-sm-8"><%=user_request.user_id %></div>
            </div>
        <% } %>
        <% if( user_request.username){ %>
            <div class="row">
                <div class="col-sm-4"><strong>User:</strong></div>
                <div class="col-sm-8"><%=user_request.username %></div>
            </div>
        <% } %>
        <% if( user_request.error){ %>
            <div class="row">
                <div class="col-sm-4"><strong>Error:</strong></div>
                <div class="col-sm-8"><%=user_request.error %></div>
            </div>
        <% } %>
        <% if( user_request.last_success_request){ %>
            <div class="row">
                <div class="col-sm-4"><strong>Date:</strong></div>
                <div class="col-sm-8"><%=user_request.last_success_request %></div>
            </div>
        <% } %>
        <% if( user_request.full_len){ %>
            <div class="row">
                <div class="col-sm-4"><strong>Scores:</strong></div>
                <div class="col-sm-8"><%=user_request.full_len %></div>
            </div>
        <% } %>
    <% } %>
</div>