#grid .cell-title {
    font-weight: bold;
}

#grid .cell-thumb {
    padding: 0;
    vertical-align: middle;
    text-align: center
}

#grid .cell-thumb img{
    width: 50px;
    height: 75px;
}
#grid .filtered .cell-thumb img{
    width: 12px;
    height: 15px;
}

#grid .cell-image {
    padding: 0;
    vertical-align: middle;
    text-align: center
}

#grid .cell-image img{
    width: 100px;
    height: 150px;
}

#grid .filtered .cell-image img{
    width: 16px;
    height: 20px;
}

#grid .row-group-first td{
    border-top: 3px double #b0b0b0;
}

#grid .normal{
    /*font-weight: bold;*/
    font-size: 16px;
}

#grid .filtered{
    font-size: 10px;
    opacity: 0.6;
}

#grid .filtered td{
    padding-top: 0;
    padding-bottom: 0;
}

#paginator .pagination li a {
    height: 29px;
    width: 32px;
    padding: 5px 5px;
}

#grid thead {
    white-space: nowrap;
    cursor: pointer;
}

#grid .glyphicon {
    margin: 5px;
}

.panel-hide-icon {
    font-size: 20px;
    margin-right: -8px;
    line-height: 0;
}

.panel-heading {
    cursor: pointer;
}

.fields .anime {
    background-color: #f3f3f3;
    border-radius: 5px;
}

.fields .user {
    background-color: #fdf28e;
    border-radius: 5px;
}

.fields .fast-select {
    cursor: pointer;
    margin-left: 5px;
}

.row-fast-select{
    margin-bottom: 5px;
}

.fields .panel-body label {
    display: inherit;
}

.fields .panel-body {
    padding: 5px;
}
.fields .range-col {
    padding-left: 5px; padding-right: 5px;
}
.fields .field-label{
    margin-top: 5px;
    margin-bottom: 5px;
}

.fields .ornull{
    margin-top: 0;
}

.fields .panel-body .glyphicon {
    line-height: 1.5;
}

.fields .field-filter-icon{
    margin-right: 5px;
}

#stats .row-stats{
    margin-top: 5px;
}

#stats ul li{
    border: 0;
}

#stats .list-group{
    margin-bottom: 0px;
}

#dbupdate .list-group{
    margin-bottom: 0px;
}

#dbupdate ul li{
    border: 0;
}

.ui-state-highlight {
    background-color: #f5f5f5;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container-margin {
    margin: 20px;
}

.logo {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -moz-user-drag: none;
    -khtml-user-drag: none;
    -webkit-user-drag: none;
    user-drag: none;
}

.dl-horizontal .dt-small {
    width: 80px;
}

.dl-horizontal .dd-small {
    margin-left: 90px;
}

.icon-refresh-animate {
    -webkit-animation-name: rotateThis;
    -webkit-animation-duration: .5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@keyframes rotateThis {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}