<div class="panel-body <% if( state.error){ %>alert-danger<% } %>">
    <form class="form-inline row" role="form" style="margin-bottom: 10px">
        <div class="form-group col-xs-9">
            <label class="sr-only" for="viewName">View Name</label>
            <input type="text" class="form-control" id="viewName" placeholder="Enter some name" value="<%=state.name %>">
        </div>
        <div class="form-group col-xs-3" style="padding: 0">
            <button type="button" class="btn btn-default ladda-button" id="saveSubmit" data-style="zoom-in" data-size="xs">
                <span class="glyphicon glyphicon-floppy-disk ladda-label"></span>
            </button>
        </div>
    </form>
    <% if( state.error){ %>
        <div class="row">
            <div class="col-sm-4"><strong>Error:</strong></div>
            <div class="col-sm-8"><%=state.error %></div>
        </div>
    <% } %>
    <% if( state.url){ %>
        <div class="row" id="urlRow">
            <div class="col-sm-12">
                <label class="sr-only" for="stateUrl">State Url</label>
                <input type="text" class="form-control" id="stateUrl" placeholder="" value="<%=state.url %>">
            </div>
        </div>
    <% } %>
</div>