<% var show_page = Math.min(10, Math.floor(pageCount/2)); %>
<% var min_page = currentPage - show_page; %>

<% for(var i = currentPage - show_page; i <= currentPage; i++){ %>
    <% if( i > 0){ %>
        <li data-page="<%=i %>">
            <a href="#"><%=i %></a>
        </li>
    <% }else{ %>
        <li data-page="<%=pageCount + i %>">
            <a href="#"><%=pageCount + i %></a>
        </li>
    <% } %>
<% } %>

<% var right = 1; %>
<% for(var i = currentPage + 1; i <= currentPage + show_page; i++){ %>
    <% if( i <= pageCount){ %>
        <li data-page="<%=i %>">
            <a href="#"><%=i %></a>
        </li>
    <% }else{ %>
        <li data-page="<%=right %>">
            <a href="#"><%=right %></a>
        </li>
        <% right += 1; %>
    <% } %>
<% } %>