<table class="table table-striped table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <% _.each(columnsList, function( field, index){ %>
                <% if(field.get('sortable')) { %>
                    <th class="header sortable" data-cid="<%=field.cid %>" data-type="all">
                        <span class="glyphicon
                         <% if(field.get('sort')){ %>
                             <% if(field.get('sort') == 1){ %>
                                glyphicon-sort-by-attributes
                             <% }else{ %>
                                glyphicon-sort-by-attributes-alt
                         <% }}else{ %>
                            glyphicon-sort
                         <% } %>
                        "></span><%=field.get('short') %>
                    </th>
                <% } else { %>
                    <th class="header" data-cid="<%=field.cid %>" data-type="all">
                        <%=field.get('short') %>
                    </th>
                <% } %>
            <% }) %>
        </tr>
    </thead>
    <thead>
        <tr>
            <% _.each(columnsList, function( field, index){ %>
                <% if(field.get('sortable')) { %>
                    <th class="header sortable" data-cid="<%=field.cid %>" data-type="group">
                        <span class="glyphicon
                         <% if(field.get('group_sort')){ %>
                             <% if(field.get('group_sort') == 1){ %>
                                glyphicon-sort-by-attributes
                             <% }else{ %>
                                glyphicon-sort-by-attributes-alt
                         <% }}else{ %>
                            glyphicon-sort
                         <% } %>
                        "></span>group
                    </th>
                <% } else { %>
                    <th class="header" data-cid="<%=field.cid %>" data-type="group"></th>
                <% } %>
            <% }) %>
        </tr>
    </thead>
    <tbody>
        <% var previousGroupId = null; %>
        <% var firstMemberClass = ''; %>
        <% animeCollection.each(function(model){ %>
            <% if(previousGroupId && previousGroupId != model.get('group')){ %>
                   <% firstMemberClass = 'row-group-first'; %>
            <% }else{ %>
                    <% firstMemberClass = ''; %>
            <% } %>
            <% previousGroupId = model.get('group'); %>
            <tr class="<%=firstMemberClass %><% if(model.get('filtered')){ %> filtered<% }else{ %> normal<% } %>">
                <% _.each(columnsList, function( field, index){ %>
                    <td class="<%=classesDict[field.get('name')+'-'+field.get('format')] %>"><%=model.format(field) %></td>
                <% }) %>
            </tr>
        <% }) %>
    </tbody>
</table>