<table class="table table-striped table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <% _.each(columnsList, function( field, index){ %>
            <% if(field.get('sortable')) { %>
            <th class="header sortable" data-cid="<%=field.cid %>" data-type="all">
                        <span class="glyphicon
                         <% if(field.get('sort')){ %>
                             <% if(field.get('sort') == 1){ %>
                                glyphicon-sort-by-attributes
                             <% }else{ %>
                                glyphicon-sort-by-attributes-alt
                         <% }}else{ %>
                            glyphicon-sort
                         <% } %>
                        "></span><%=field.get('short') %>
            </th>
            <% } else { %>
            <th class="header" data-cid="<%=field.cid %>" data-type="all">
                <%=field.get('short') %>
            </th>
            <% } %>
            <% }) %>
        </tr>
    </thead>
</table>
<% animeCollection.each(function(model){ %>
    <% var anime = model.getJSON(columnsList) %>
    <div class="media well well-sm">
        <% if(model.get('image')) { %>
            <a class="pull-left cell-image" href="#">
                <img class="media-object" src="<%=model.get('image') %>" alt="Image">
            </a>
        <% } %>
        <div class="media-body">
            <h4 class="media-heading"><a target="blank" href="<%=model.getURL() %>">
                <%=anime['title'] %></a></h4>
            <% _.each(columnsList, function( field, index){ %>
                <%=model.getMediaFormat(field) %>
            <% }) %>
        </div>
    </div>
<% }) %>
