<thead>
    <tr>
    <% _.each(columnsList, function( field, index){ %>
        <% if(field.get('sortable')) { %>
        <th class="header sortable" data-cid="<%=field.cid %>" data-type="all">
            <span class="glyphicon
             <% if(field.get('sort')){ %>
                 <% if(field.get('sort') == 1){ %>
                    glyphicon-sort-by-attributes
                 <% }else{ %>
                    glyphicon-sort-by-attributes-alt
             <% }}else{ %>
                glyphicon-sort
             <% } %>
            "></span><%=field.get('short') %>
        </th>
        <% } else { %>
        <th class="header" data-cid="<%=field.cid %>" data-type="all">
            <%=field.get('short') %>
        </th>
        <% } %>
    <% }) %>
    </tr>
</thead>