{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>AnimeList</title>
        <link rel="shortcut icon" href="{%  static "images/siteicon.ico" %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if not DEBUG %}
            <link rel="stylesheet" href="{% static "css/full.css" %}">
            <script type="application/javascript" data-main="{% static "js/min/AnimeListApp.min.js" %}"
                src="{% static "js/libs/require.js" %}"></script>
            <script>
              DEBUG = false;
            </script>
            <script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

              ga('create', 'UA-48321549-1', 'animeadvice.me');
              ga('send', 'pageview', {'page': window.location.pathname + window.location.hash});
            </script>
        {% else %}
            <link rel="stylesheet" href="{% static "css/enter.css" %}">
            <script type="application/javascript" data-main="{% static "js/animelist_enter.js" %}"
                src="{% static "js/libs/require.js" %}"></script>
            <script>
              DEBUG = true;
            </script>
        {% endif %}
    </head>
    <body id="main">
    </body>
</html>