{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>AnimeList Test</title>
        <link rel="shortcut icon" href="{%  static "images/siteicon.ico" %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" type="image/png" href="{% static "css/libs/jasmine_favicon.png" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/libs/jasmine.css" %}">

        <script type="application/javascript" data-main="{% static "js/jasmine_enter.js" %}"
            src="{% static "js/libs/require.js" %}"></script>
    </head>
    <body id="main">
    </body>
</html>