{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script type="application/javascript" src="{% static "js/libs/jquery-2.1.0.min.js" %}"></script>
    <script type="application/javascript" src="{% static "js/libs/underscore-min.js" %}"></script>
    <script type="application/javascript" src="{% static "js/libs/backbone.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/ladda.min.css" %}">
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/normalize.min.css" %}">
    <link rel="stylesheet" href="{% static "css/ion.rangeSlider.css" %}">
    <link rel="stylesheet" href="{% static "css/ion.rangeSlider.skinFlat.css" %}">
    <script src="{% static "js/libs/spin.min.js" %}"></script>
    <script src="{% static "js/libs/ladda.min.js" %}"></script>
    <script src="{% static "js/libs/ion.rangeSlider.min.js" %}"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                </div>
                <div class="panel-body">
                    <input id="slider" type="text" class="range-slider" name="rangeName" style="display: none"
                           data-type="double" value="1;20000" data-from="1" data-to="20000">
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-2">
        <a href="#">
            <img src="/static/images/logoimg2.png" class="img-responsive center-block logo">
        </a>

        <div id="fields-select">
            <div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Fields:</h3>
                    </div>
                    <div class="panel-body ui-sortable">

                        <div>
                            <div class="checkbox anime">
                                <label>
                                    <input type="checkbox" data-field="c3" checked="">
                                    ID
                                </label>
                            </div>

                            <input type="text" class="range-slider" name="rangeName" style="display: none"
                           data-type="double" value="1;20000" data-from="1" data-to="20000">


                        </div>

                        <div>
                            <div class="checkbox anime">
                                <label>
                                    <input type="checkbox" data-field="c14">
                                    Synopsis
                                </label>
                            </div>

                        </div>

                        <div>
                            <div class="checkbox anime">
                                <label>
                                    <input type="checkbox" data-field="c15">
                                    Type
                                </label>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    $(function () {
        $("#slider").ionRangeSlider();
        $(".range-slider").ionRangeSlider();
    })
</script>
</body>
</html>