<div class="container container-margin">
    <div class="row">
        <div class="col-lg-3">
            <img src="static/images/logoimg2.png" class="img-responsive center-block logo">
            <div id="primary-fields-select" class="fields"></div>
            <div id="secondary-fields-select" class="fields"></div>
            <div id="settings"></div>
            <div id="user-select"></div>
            <div id="save-state"></div>
            <div id="stats"></div>
            <div id="dbupdate"></div>
        </div>
        <div class="col-lg-9">
            <div id="grid"></div>
            <div class="row">
                <div class="col-xs-12">
                    <div id="paginator" class="text-center"></div>
                </div>
            </div>
        </div>
    </div>
</div>