<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-8">
                <h3 class="panel-title"><%=name %></h3>
            </div>
            <div class="col-xs-4">
                <span class="glyphicon glyphicon-chevron-up pull-right panel-hide-icon"></span>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="panel-body"></div>
    </div>
</div>