<div class="panel-body">
    <form class="form-horizontal" role="form">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Main settings</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="fluidView">
                                Full screen
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <label style="width: 100%">
                            Query size limit:
                            <input type="text" id="queryLimit" style="display: none; width: 100%" data-width="100%"
                                   value="10;100" data-from="<%=model.get('query_limit') %>"/>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>